@font-face {
    font-family: Impacts;
    src: url(../fonts/unicode.impact.ttf);
}

@font-face {
    font-family: Zapfino;
    src: url(../fonts/ZapfinoExtraLT-One.otf);
}

.red-difarlib,
.green-difarlib {
    font-family: Impact, Impacts, "Arial Black", "Arial", sans-serif;
    font-style: italic;
}

.red-difarlib {
    color: #dc2226;
    font-size: 40px;
}

.green-difarlib {
    color: #4c8133;
    font-size: 50px;
}

.navbar-toggler {
    background-color: #dc2226;
}

.nav-active,
.nav-link {
    font-size: 17px;
    font-weight: 500;
}

.nav-active {
    color: #dc2226;
}

.nav-active:hover,
.red-difarlib:hover {
    color: #4c8133;
}

.nav-link {
    color: #4c8133;
}

.nav-link:hover {
    color: #dc2226;
}

.eslogan-difarlib {
    font-family: Zapfino, 'Apple Chancery', 'ITC Zapf Chancery', cursive;
    font-size: 60px;
    font-style: italic;
    font-weight: bold;
}